<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link rel="stylesheet" href="../output.css">
</head>

<body>
    <header class="font-nunito">
        <div class='flex shadow-md py-4 px-2 bg-white min-h-[80px] relative z-50'>
            <div class='flex flex-wrap items-center justify-between gap-5 w-full max-w-[1174px] mx-auto'>
                <a href="#"><img src="../assets/images/logo_header.png" alt="logo" class='w-36' /></a>
                <div>
                    <ul class='flex'>
                        <li class='border-gray-300 px-3'>
                            <a href='#'
                                class='hover:text-[#356C07] text-[#356C07] block font-semibold text-base  uppercase'>Sản
                                phẩm
                            </a>
                        </li>
                        <li class='border-gray-300 px-3'><a href='#'
                                class='hover:text-[#356C07] text-[#1A1A1A] block font-semibold text-base uppercase'>Về
                                nông
                                thảo
                            </a>
                        </li>
                        <li class='border-gray-300 px-3'><a href='#'
                                class='hover:text-[#356C07] text-[#1A1A1A] block font-semibold text-base uppercase'>Blog
                            </a>
                        </li>
                        <li class='border-gray-300 px-3'><a href='#'
                                class='hover:text-[#356C07] text-[#1A1A1A] block font-semibold text-base uppercase'>Liên
                                hệ
                            </a>
                        </li>
                    </ul>
                </div>

                <div class='flex'>
                    <button class='pr-[17px]'>
                        <img src="../assets/icons/ti-search.svg" alt="ti-search"></button>
                    <button class=''>
                        <img src="../assets/icons/ti-cart.svg" alt="ti-cart"></button>
                </div>
            </div>
        </div>
    </header>
</body>

</html>